*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(res/master/football.gif);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 300px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #058399;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li :hover::after{
width: 100%;

}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;

}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14;
    color: white;
}
.design{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: 1px solid;
    padding: 12px 34px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}
.design:hover{
    border: 1px solid #058399;
    background: #058399;
    transition: 1s;
}
.btn{
    border: 1px solid #058399;
    background: transparent;
    color: #058399;
}
.btn:hover{
    color: white;
}
nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 35px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #058399;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        display: none;
    }
    .nav-links ul{
        padding: 30px;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

.teams{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
.teams p{
    justify-content: space-around;

}

.teams a:visited{
    color: #058399;
}
.teams a{
    color: #058399;
    text-decoration: none;
    font-size: 14px;

}

h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.col{
    flex-basis: 31%;
    background: hsl(0, 0%, 97%);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px){
.row{
    flex-direction: column;
}
}

.players{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.picture-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 05px;
    margin-right: 05px;
    position: relative;
    overflow: hidden;
}
.picture-col img{
    width: 100%;
    display: block;
}
.piclayer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}
.piclayer:hover{
    background:rgba(1, 113, 133, 0.699);
}
.piclayer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 1s;
}
.piclayer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.news{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
.news-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.news-col img{
    width: 100%;
    border-radius: 10px;
}
.news-col p{
    padding: 0;
}
.news-col h3{
     margin-top: 16px;
     margin-bottom: 15px;
     text-align: left;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(header\ copy.jpg);
    background-position: center;
    background-size: cover;
    color: white;

}
.footer h6{
    margin-bottom: 05px;
    margin-top: 20px;
    font-weight: 300;
    color: white;
}
.footer p{
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 100;
    padding: 02px 0;
    color: white;
}
.footer a:visited{
    color: white;
}
.footer a{
    color: white;
    text-decoration: none;
}

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(header\ copy.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.sub-header h1{
    margin-top: 100px;
}
.history-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(res/history/history-header.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.history-header h1{
    margin-top: 100px;
}
.subcontain{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;

}
.subcontain-col{
    flex-basis: 48%;
    padding: 30px 2px;

}
.subcontain-col img{
    width: 100%;
    
}
.subcontain-col p{
    padding: 15px 0;

}
.subcontain-col h1{
    padding-top: 0;
}

.blog{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-left{
    flex-basis: 65%;
}
.blog-left img{
    width: 100%;
}
.blog-left h2{
    font-weight: 600;
    margin: 30px 0;
    color: #222;

}
.blog-left h3{
        font-weight: 300;
        margin: 30px 0;
        color: #222;
        text-align: left;
}
.blog-left p{
    padding: 0;
    color: rgb(49, 48, 48);
    text-align: justify;
}
.blog-right{
    flex-basis: 32%;
}
.blog-right h3{
    background: #058399;
    color: white;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}
.blog-right a:visited{
    color: #555;
}
.blog-right a{
    color: #555;
    text-decoration: none;
}
.blog-right div{
    display: flex;
    color: #555;
    padding: 8px 0;
    box-sizing: border-box;
    align-items: center;
    text-align: justify;
    justify-content: space-between;
}
.blog-right img{
    width: 100%;
}
.comment{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment h3{
    text-align: left;
}
.comment input, .comment textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.comment button{
    margin: 10px 0;
}
@media(max-width:700px){
    .sub-header h1{
        font-size: 24px;
    }
}